.logincss{   
    display: inline-flex;  
    background-color: #555;  
}
.logincss > div >a{
    padding:10px 50px;
    text-decoration: none;
    color:white;
    font-weight: bold;    
}
.logincss > div{    
    margin-top:10px;
}

.logincss > div >button{
    padding:0px 50px;    
    background-color: #555;
    font-weight: bold;
    color:white
}

.logincss > div >img{           
    height:30px;    
}
