.logincss{   
}

.logincss > button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 11px 98px 2px 93px;
    cursor: pointer;   
    float: right; 
}

.logincss > img{
    display: inline-block;
    float:left;
    margin-left:98px;
    height:51px;    
}